QUES1- Create one variable containing following type of data:
(i) string="Siddharth"
(ii) list= [1,2,3,"siddharth",True]
(iii) float=22.45
(iv) tuple=("ram","shyam","manoj")

Ques2- Given are some of following variables containing data:
(i)var1=''                      # this is an empty string
(ii)var2='[DS,ML,Python]'       #this is a string
(iii)var3=['DS','ML'.'Python']  #this is a list
(iv)var4=1                      #this is an integer

Ques3- Explain the use of the following operators using an example:
(i)/          #this is division operator

In [2]:
a=6/2      #example(i)
print(a)

3.0

(ii)%           #this is module operator

In [3]:
b=6%2          #example(ii)
print(b)

0

(iii)//         #this is floor division operator

In [4]:
c=6//2
print(c)

3

(iv)**          #this is exponentiation operator

In [5]:
d=7**3
print(d)

343

Ques4-Create a list of a length 10 of your vchoice containing multiples types of data. Using for loop print the element and its data type.

In [7]:
a=[1,22.23,True,"ajay",'vinay',56,89.89,9.0,12,"rahul"]
for i in a :
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>

Ques-5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [14]:
a=10
b=2
count=0
while a%b==0:
    count=count +1
    a=a/b
if count>0:
    print("a is divisible by b",count,"times")
else:
    print("a is not divisible by b")

a is divisible by b 1 times

Ques-6 Create a list containing 25 int type data. using for loop and if-else condition print if the element is divisible by 3 or not.

In [18]:
a=[2,3,5,6,8,12,13,15,17,19,98.76,87,67,56,45,44,34,26,90,49,32,10,65,89]
for i in a:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i," is not divisible by 3")

2  is not divisible by 3
3 is divisible by 3
5  is not divisible by 3
6 is divisible by 3
8  is not divisible by 3
12 is divisible by 3
13  is not divisible by 3
15 is divisible by 3
17  is not divisible by 3
19  is not divisible by 3
98.76  is not divisible by 3
87 is divisible by 3
67  is not divisible by 3
56  is not divisible by 3
45 is divisible by 3
44  is not divisible by 3
34  is not divisible by 3
26  is not divisible by 3
90 is divisible by 3
49  is not divisible by 3
32  is not divisible by 3
10  is not divisible by 3
65  is not divisible by 3
89  is not divisible by 3

Ques-What do you understand about mutable and imutable data types? Give examples for both showing this property.
Ans- Mutable means in which we can modify the values in given data
 ex-Lists and Dictionary
 Imutable means values can't be changed in given data
 ex-Strings and Tuple